$shadow-color: #838383;
$shadow-color-dark: #1a1a1a; 

$light-mode-elements: hsl(0, 0%, 100%);
$light-mode-elements-hover: hsl(0, 0%, 92%);
$light-mode-background: hsl(0, 0%, 98%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);

$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-elements-hover: hsl(209, 23%, 15%);
$dark-mode-background: hsl(207, 26%, 17%);
$dark-mode-text: hsl(0, 0%, 100%);

$homepage-font-size: 14px;
$detail-page-font-size: 16px;

$break-small: 768px;